/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset-Code --*/

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

body a:hover {
    text-decoration: none;
}

body a:focus, a:hover {
    text-decoration: none;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredericka the Great', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

img {
    width: 100%;
}

a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

/*-- //Reset-Code --*/

/*-- Index-Page-Styling --*/

/*-- Background-Gradient-Colors --*/
body {
    background: #FFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#12FFB9, #0066FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#12FFB9, #0066FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#12FFB9, #0066FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #12FFB9, #0066FF); /* Standard syntax (must be last) */
}

/*-- //Background-Gradient-Colors --*/

/*-- Header --*/

.header {
    padding: 100px 0 150px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-slider {
    position: relative;
}

/*-- Banner-Slider --*/

.slider-1 {
    border: 5px solid #FFF;
    left: 15%;
    position: relative;
    top: 70px;
    width: 95%;
}

.slider-2 {
    border: 5px solid #FFF;
    left: 0;
    position: absolute;
    top: -14%;
    width: 30%;
    z-index: 99999;
}

.slider {
    position: relative;
}

.rslides {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.rslides li {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
}

.rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}

.rslides img {
    border: 0;
    display: block;
    float: left;
    height: auto;
    width: 100%;
}

a.callbacks_nav {
    display: none;
}

ul.callbacks_tabs {
    display: none;
}

/*-- //Banner-Slider --*/

.header-right {
    padding-top: 70px;
}

/*-- Navbar --*/

.navbar {
    min-height: 40px;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-color: transparent;
    margin-bottom: 0;
    text-align: center;
}

.hover-effect ul {
    border: 2px solid #EEE;
    /*--w3layouts--*/
    /*--agileits--*/
    margin: 0 auto;
    padding-top: 5px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    width: 85%;
}

.hover-effect li {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.hover-effect li:before, .hover-effect li:after {
    display: block;
}

.hover-effect li:before {
    bottom: 0%;
}

.hover-effect li:after {
    bottom: 50%;
}

.hover-effect a {
    color: #FFF;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: normal;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    backface-visibility: hidden;
}

.hover-effect a:before {
    bottom: 25%;
}

.hover-effect a:after {
    bottom: 75%;
}

.hover-effect a:hover {
    color: #000;
    /*--w3layouts--*/
    /*--agileits--*/
}

.hover-effect li:before, .hover-effect li:after, .hover-effect a:before, .hover-effect a:after {
    background-color: #12FFB9;
    content: '';
    height: 25%;
    left: 0%;
    opacity: 0;
    position: absolute;
    right: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    z-index: -1;
}

.hover-effect li:before {
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
}

.hover-effect li:after {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

.hover-effect a:before {
    transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
}

.hover-effect a:after {
    transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
}

.hover-effect li:hover:before, .hover-effect li.current:before, .hover-effect li:hover:after, .hover-effect li.current:after, .hover-effect li:hover a:before, .hover-effect li.current a:before, .hover-effect li:hover a:after, .hover-effect li.current a:after {
    left: 0;
    opacity: 1;
    right: 0;
}

.hover-effect li:hover:before, .hover-effect li.current:before {
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
}

.hover-effect li:hover:after, .hover-effect li.current:after {
    transition-delay: 0.2s;
    /*--w3layouts--*/
    /*--agileits--*/
    -webkit-transition-delay: 0.2s;
}

.hover-effect li:hover a:before, .hover-effect li.current a:before {
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

.hover-effect li:hover a:after, .hover-effect li.current a:after {
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}

/*-- //Navbar --*/

/*-- Logo --*/

.logo {
    margin: 50px 0 80px;
    position: relative;
    text-align: center;
}

.logo a {
    border-bottom: 5px solid #EEE;
    border-top: 5px solid #EEE;
    color: #EEE;
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    padding: 15px 0 40px;
}

.logo img {
    background-color: #058EEC;
    left: 46%;
    position: absolute;
    top: 78px;
    width: 60px;
}

/*-- //Logo --*/

.header-info p {
    color: #EEE;
    /*--w3layouts--*/
    /*--agileits--*/
    font-size: 15px;
    line-height: 30px;
    padding: 0 100px;
    text-align: center;
}

/*-- Header-Social-Icons --*/

.social {
    margin-top: 40px;
    text-align: center;
}

ul.social-icons li {
    display: inline-block;
}

ul.social-icons li a {
    background: url("../images/img-sprite.png") no-repeat 0px 0px;
    display: inline-block;
    height: 50px;
    width: 50px;
}

ul.social-icons li a.facebook {
    background-position: 0px 0px;
}

ul.social-icons li a.facebook:hover {
    background-position: 0px -50px;
}

ul.social-icons li a.twitter {
    background-position: -50px 0px;
}

ul.social-icons li a.twitter:hover {
    background-position: -50px -50px;
}

ul.social-icons li a.googleplus {
    background-position: -100px 0px;
}

ul.social-icons li a.googleplus:hover {
    background-position: -100px -50px;
}

ul.social-icons li a.instagram {
    background-position: -150px 0px;
}

ul.social-icons li a.instagram:hover {
    background-position: -150px -50px;
}

ul.social-icons li a.youtube {
    background-position: -200px 0px;
}

ul.social-icons li a.youtube:hover {
    background-position: -200px -50px;
}

/*-- //Header-Social-Icons --*/

/*-- //Header --*/

/*--wthree--*/
/*--agileinfo--*/

/*-- About --*/

.about {
    padding-bottom: 100px;
}

.about h2, .people h3, .tabs h3, .gallery h3, .contact-us h3, .map h3 {
    color: #FFF;
    font-size: 50px;
    margin-bottom: 50px;
}

.about-grid1, .about-grid2, .about-grid3 {
    background-color: #EEE;
    margin: 0 100px 0 auto;
    width: 60%;
}

.about-grid2 {
    margin: 50px 100px;
}

.about-grid {
    padding: 0;
}

.about h3 {
    color: #0AC1D5;
    font-size: 30px;
    margin: 25px 0;
}

.about p {
    color: #777;
    line-height: 27px;
    padding: 0 30px;
}

/*-- //About --*/

/*-- People --*/

.people {
    padding-bottom: 100px;
}

/*--wthree--*/
/*--agileinfo--*/

/*-- Team --*/

figure {
    background: #3085a3;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}

figure img {
    display: block;
    max-width: 100%;
    opacity: 0.8;
    position: relative;
}

figure figcaption {
    color: #fff;
    font-size: 1.25em;
    padding: 2em;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure figcaption::before, figure figcaption::after {
    pointer-events: none;
}

figure figcaption, figure figcaption > a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

figure figcaption > a {
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap;
    z-index: 1000;
}

figure h4 {
    font-size: 30px;
    font-weight: 300;
    word-spacing: -0.15em;
}

figure h4 span {
    font-weight: 600;
    margin-left: 5px;
}

figure h4, figure ul {
    margin: 0;
}

figure h4, figure ul {
    font-weight: 400;
    margin: 0;
}

figure p {
    font-size: 68.5%;
    letter-spacing: 1px;
}

figure.effect-dexter {
    background: -webkit-linear-gradient(top, rgba(37, 141, 200, 1) 0%, rgba(104, 60, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(37, 141, 200, 1) 0%, rgba(104, 60, 19, 1) 100%);
}

figure.effect-dexter img {
    transition: opacity 0.35s;
    -webkit-transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
    opacity: 0.4;
}

figure.effect-dexter figcaption::after {
    border: 7px solid #fff;
    bottom: 30px;
    content: '';
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    left: 30px;
    position: absolute;
    right: 30px;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transition: transform 0.35s;
    -webkit-transition: -webkit-transform 0.35s;
}

figure.effect-dexter:hover figcaption::after {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

figure.effect-dexter figcaption {
    padding: 5em;
    text-align: left;
}

figure.effect-dexter ul.social {
    bottom: 70px;
    left: 180px;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
}

figure.effect-dexter:hover {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

li.icon {
    display: inline-block !important;
    visibility: visible !important;
}

span.icon img {
    display: inline-block !important;
    opacity: 0.9;
    width: 10% !important;
}

span.icon img:hover {
    opacity: 0.9;
}

.social-two {
    display: none;
}

figure.effect-dexter:hover .social-two {
    display: block;
    margin-top: 100px;
    text-align: center;
}

.social-two span a {
    background: url("../images/img-sprite-1.png") no-repeat 0px 0px;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.social-two span a.facebook:hover {
    background-position: 0px -50px;
}

.social-two span a.twitter {
    background: url("../images/img-sprite-1.png") no-repeat -50px 0px;
}

.social-two span a.twitter:hover {
    background-position: -50px -50px;
}

.social-two span a.googleplus {
    background: url("../images/img-sprite-1.png") no-repeat -100px 0px;
}

.social-two span a.googleplus:hover {
    background-position: -100px -50px;
}

.social-two span a.instagram {
    background: url("../images/img-sprite-1.png") no-repeat -150px 0px;
}

.social-two span a.instagram:hover {
    background-position: -150px -50px;
}

/*-- //Team --*/

/*--wthree--*/
/*--agileinfo--*/

/*-- Clients --*/

.people h3 span {
    margin-left: 10px;
}

.client-slider-2 .slider {
    border: 5px solid #EEE;
    padding: 26px 30px;
}

.client-slider-2 h4 {
    color: #12FFB9;
    font-size: 30px;
    font-weight: 600;
}

.client-slider-2 p {
    color: #FFF;
    font-size: 14px;
    line-height: 25px;
    margin: 30px 0;
}

.client {
    float: right;
}

.client span {
    color: #111;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding: 0;
}

/*-- //Clients --*/

/*-- Services --*/

.tabs {
    padding-bottom: 100px;
}

.service-icons {
    background-color: rgba(0, 0, 0, 0.57);
    padding: 0;
}

.service-icons ul {
    list-style-type: none;
}

li.tab-list {
    padding: 15px 0;
}

li.tab-list-1 {
    background-color: rgb(51, 51, 51);
    padding-left: 50px;
}

li.tab-list-2, li.tab-list-4 {
    padding-left: 150px;
}

li.tab-list-3 {
    padding-left: 250px;
}

li.tab-list-5 {
    padding-left: 50px;
}

.tab-list img {
    width: 50px;
}

.service-info {
    background-color: #FFF;
    height: 400px;
    text-align: center;
}

.service-info img {
    width: 100px;
}

.service-info h4 {
    color: #0CC8D3;
    font-size: 35px;
    margin: 30px 0;
}

.service-info p {
    line-height: 30px;
    padding: 0 35px;
}

/*-- //Services --*/
/*--w3l-agile--*/
/*--agileits--*/

/*-- Gallery --*/

.gallery {
    padding-bottom: 100px;
}

.gal-left {
    padding: 0;
}

.img-box, .info-box {
    display: block;
    height: 100%;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.img-box img, .info-box img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.img-box {
    position: relative;
}

.info-box {
    left: 0;
    position: absolute;
    top: 0;
}

/*--w3l-agile--*/
/*--agileits--*/
.info-box .info-content {
    display: block;
    float: left;
    left: 50%;
    padding: 0%;
    position: relative;
    position: relative;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.separator {
    background: rgba(255, 255, 255, 0.5);
    clear: both;
    display: block;
    height: 1px;
    margin: 20px auto;
    position: relative;
    width: 100%;
}

.content-grid-effect {
    display: block;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.content-grid-effect .info-content {
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: 2 !important;
    -wekbit-opacity: 0;
    -moz-opacity: 0;
}

.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    content: "";
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -ms-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    -webkit-transition: 0.8s ease-in-out;
    z-index: 1;
    -wekbit-opacity: 0;
    -moz-opacity: 0;
}

.content-grid-effect.horizontal .img-box:before {
    height: 25%;
    left: 0;
    top: 0;
    transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    width: 100%;
}

.content-grid-effect.horizontal .img-box:after {
    height: 25%;
    left: 0;
    top: 25%;
    transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    width: 100%;
}

.content-grid-effect.horizontal .info-box:after {
    height: 25%;
    left: 0;
    top: 50%;
    transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    width: 100%;
}

.content-grid-effect.horizontal .info-box:before {
    height: calc(25% + 1px);
    left: 0;
    top: 75%;
    transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    width: 100%;
}

.content-grid-effect.vertical .img-box:before {
    height: 100%;
    left: 0;
    top: 0;
    transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    width: 25%;
}

/*--w3l-agile--*/
/*--agileits--*/
.content-grid-effect.vertical .img-box:after {
    height: 100%;
    left: 25%;
    top: 0;
    transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    width: 25%;
}

.content-grid-effect.vertical .info-box:after {
    height: 100%;
    left: 50%;
    top: 0;
    transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    width: 25%;
}

.content-grid-effect.vertical .info-box:before {
    height: 100%;
    left: 75%;
    top: 0;
    transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    width: calc(25% + 1px);
}

.content-grid-effect:hover .img-box:after, .content-grid-effect:hover .img-box:before, .content-grid-effect:hover .info-box:after, .content-grid-effect:hover .info-box:before {
    filter: alpha(opacity=100);
    opacity: 1;
    transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -wekbit-opacity: 1;
    -moz-opacity: 1;
}

.content-grid-effect:hover .info-content {
    filter: alpha(opacity=100);
    opacity: 1;
    -wekbit-opacity: 1;
    -moz-opacity: 1;
}

.slow-zoom .img-box {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transition: all 2.2s ease-in-out;
    -moz-transition: all 2.2s ease-in-out;
    -ms-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    -webkit-transition: all 2.2s ease-in-out;
    z-index: 0;
}

.slow-zoom:hover .img-box {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.slow-zoom {
    display: block;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.content-grid-effect {
    /*box-shadow: 0 0 14px 0 #DCDCDC;*/
    padding: 7px 7px;
}

.info-content h4 {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

/*--w3l-agile--*/
/*--agileits--*/
.info-content p {
    color: #fff;
    font-size: 15px;
    line-height: 2.2em;
    margin: 0 auto;
    text-decoration: none;
    width: 90%;
}

/*-- //Gallery --*/

/*--w3-agile-*/
/*--agileinfo--*/
/*-- Contact-Us --*/

.contact-us {
    color: #333;
    padding-bottom: 100px;
}

.contact-grid {
    border: 3px solid #EEE;
    font-size: 13px;
    padding: 30px;
}

.contact-us p {
    line-height: 25px;
    margin-bottom: 25px;
}

.contact-us h4 {
    color: #000;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.address a {
    color: #000;
}

.address a:hover {
    color: #000;
}

.contact-us .phone {
    margin-top: 20px;
}

.contact-us .phone p {
    line-height: 25px;
    margin: 0;
}

.contact_form input[type='text'] {
    background: none;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #FFF;
    font-size: 14px;
    height: 50px;
    line-height: 22px;
    margin: 0 0 20px;
    outline: none;
    padding: 14px 17px 14px;
    width: 100%;
}

/*--w3-agile-*/
/*--agileinfo--*/
.contact_form textarea {
    background: none;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #FFF;
    font-size: 14px;
    height: 130px;
    line-height: 22px;
    outline: none;
    padding: 14px 17px 14px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #333;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}

form.contact_form {
    text-align: center;
}

input.text:active, input.text:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

textarea:active, textarea:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.message {
    margin-bottom: 15px;
}

.more_btn {
    background-color: transparent;
    border: 1px solid #EEE;
    color: #FFF;
    outline: none;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.more_btn:hover {
    background-color: #000000;
    color: #FFF;
    cursor: pointer;
}

/*-- //Contact-Us --*/

/*--w3-agile-*/
/*--agileinfo--*/

/*-- Map --*/

.map iframe {
    border: 5px solid #FAFAFA;
    height: 400px;
    margin-bottom: -5px;
    opacity: 0.7;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    width: 100%;
}

.map iframe:hover {
    opacity: 1;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

/*-- //Map --*/

/*-- Footer --*/

.footer {
    background: #333333;
    color: #777;
    font-size: 13px;
    padding: 50px 0;
}

.address, .contact, .connect {
    padding: 0;
}

.footer h5 {
    color: #EEE;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 25px;
    text-align: left;
}

.address ul li {
    display: block;
    line-height: 25px;
}

.footer .address a {
    color: #999;
}

.footer .address a:hover {
    color: #FFF;
}

.phone p {
    line-height: 25px;
}

.mail {
    margin-top: 40px;
}

.mail input[type="text"] {
    border: none;
    color: #333;
    outline: none;
    padding: 5px;
}

.mail input[type="submit"] {
    border: none;
    color: #333;
    outline: none;
    padding: 5px 13px;
}

.mail input[type="submit"]:hover {
    background-color: #009688;
    color: #FFF;
}

.connect {
    padding-left: 50px;
    text-align: left;
}

.connect-social ul li {
    display: inline-block;
}

/*-- Footer-Social-Icons --*/

.connect-social ul li a {
    background: url("../images/img-sprite-2.png") no-repeat 0px 0px;
    background-size: 300px;
    display: inline-block;
    height: 30px;
    opacity: 0.7;
    width: 30px;
}

.connect-social ul li a.facebook {
    background-position: 0px -30px;
}

.connect-social ul li a.twitter {
    background-position: -30px -30px;
}

.connect-social ul li a.googleplus {
    background-position: -60px -30px;
}

.connect-social ul li a.linkedin {
    background-position: -90px -30px;
}

.connect-social ul li a.blogger {
    background-position: -120px -30px;
}

.connect-social ul li a.tumblr {
    background-position: -150px -30px;
}

.connect-social ul li a.rss {
    background-position: -180px -30px;
}

.connect-social ul li a.vimeo {
    background-position: -240px -30px;
}

.connect-social ul li a.deviantart {
    background-position: -270px -30px;
}

.connect-social ul li a:hover {
    opacity: 1;
}

/*-- Footer-Social-Icons --*/

.footer-bottom {
    padding-top: 50px;
}

.footer-nav {
    float: left;
}

.footer-nav ul li {
    border-right: solid 1px #939090;
    border-right-style: dashed;
    display: inline-block;
    padding: 0 25px;
}

.footer-nav ul li a {
    color: #D6D6D6;
}

.footer-nav ul li a:hover {
    color: #12FFB9;
}

.footer-logo a {
    color: #6E6E6E;
    margin: 0;
}

.footer-nav ul li:nth-child(5) {
    border-right: none;
}

/*-- Copyright --*/

.copyright {
    float: left;
    margin-left: 160px;
}

.copyright p {
    color: #C2C2C2;
}

.copyright p a {
    color: #C2C2C2;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 5px;
}

.copyright p a:hover {
    color: #12FFB9;
}

/*-- //Copyright --*/

/*-- //Footer --*/

/*-- Go-To-Top-Button --*/
#toTop {
    background: url("../images/to-top.png") no-repeat 0px 0px;
    border: none;
    bottom: 10px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 15px;
    text-decoration: none;
    text-indent: 100%;
    width: 40px;
}

/*-- //Go-To-Top-Button --*/

/*-- //Index-Page-Styling --*/

/*-- Responsive-Code --*/

@media screen and (max-width: 1920px) {
    .slider-2 {
        top: -13%;
    }

    .hover-effect ul {
        width: 70%;
    }

    .logo {
        margin: 80px 0 120px;
    }

    .header-info p {
        padding: 0 150px;
    }

    .about h3 {
        margin: 50px 0;
    }

    .about p {
        padding: 0 50px;
    }

    .client-slider-2 .slider {
        padding: 25px;
    }

    .contact-grid {
        padding: 31px;
    }
}

@media screen and (max-width: 1680px) {
    .slider-2 {
        top: -15%;
    }

    .hover-effect ul {
        width: 80%;
    }

    .header-info p {
        padding: 0 130px;
    }

    .about h3 {
        margin: 35px 0;
    }

    .contact_form textarea {
        height: 140px;
    }
}

@media screen and (max-width: 1600px) {
    .slider-2 {
        top: -16%;
    }

    .hover-effect ul {
        width: 85%;
    }

    .header-info p {
        padding: 0 120px;
    }

    .about h3 {
        margin: 30px 0;
    }

    .about p {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1440px) {
    .header {
        padding: 100px 0;
    }

    .slider-1 {
        width: 90%;
    }

    .slider-2 {
        top: -19%;
    }

    .hover-effect ul {
        width: 90%;
    }

    .hover-effect a {
        padding: 5px 18px;
    }

    .logo {
        margin: 50px 0 100px;
    }

    .logo a {
        font-size: 55px;
        padding: 15px 0 35px;
    }

    .logo img {
        left: 45%;
        top: 70px;
    }

    .header-info p {
        padding: 0 80px;
    }

    .about h3 {
        font-size: 30px;
        margin: 20px 0;
    }

    .about p {
        line-height: 27px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 1366px) {
    .slider-2 {
        top: -20%;
    }

    .hover-effect ul {
        width: 96%;
    }

    .logo a {
        font-size: 50px;
        padding: 15px 0 30px;
    }

    .logo img {
        top: 60px;
    }

    .header-info p {
        font-size: 14px;
    }

    .social {
        margin-top: 25px;
    }

    .about h3 {
        margin: 15px 0;
    }

    p {
        font-size: 13px;
    }

    .about p {
        line-height: 26px;
        padding: 0 19px;
    }

    .client-slider-2 .slider {
        padding: 25px;
    }

    .contact-grid {
        padding: 26px;
    }

    .contact_form textarea {
        height: 130px;
    }
}

@media screen and (max-width: 1280px) {
    .slider-1 {
        left: 10%;
        width: 95%;
    }

    .slider-2 {
        top: -21%;
    }

    .hover-effect ul {
        width: 100%;
    }

    .hover-effect a {
        font-size: 13px;
    }

    .header-info p {
        padding: 0 70px;
    }

    .social {
        margin-top: 25px;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        width: 70%;
    }

    .about h3 {
        margin: 25px 0;
    }

    .client-slider-2 p {
        font-size: 13px;
    }
}

@media screen and (max-width: 1024px) {
    .slider-2 {
        top: -30%;
    }

    .slider-1 {
        width: 85%;
    }

    .header-right {
        left: -30px;
        padding-top: 0;
    }

    .hover-effect ul {
        margin-left: -40px;
        width: 131%;
    }

    .logo {
        margin: 35px 0 70px;
    }

    .logo a {
        font-size: 50px;
        padding: 5px 0 25px;
    }

    .logo img {
        left: 43%;
        top: 53px;
    }

    .header-info p {
        font-size: 13px;
        padding: 0;
    }

    .social {
        margin-top: 20px;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        width: 90%;
    }

    figure.effect-dexter figcaption {
        padding: 4em 1em;
    }

    .social-two {
        bottom: 55px;
        left: 25%;
        position: absolute;
    }

    .map iframe {
        height: 300px;
    }

    .footer .address, .footer .contact {
        float: left;
        width: 50%;
    }

    .connect {
        border-bottom: 1px solid #EEE;
        border-top: 1px solid #EEE;
        float: right;
        margin-top: 30px;
        padding: 30px 0;
        text-align: left;
        width: 100%;
    }

    .footer h5 {
        margin-bottom: 25px;
    }

    .connect h5 {
        margin-left: 5px;
    }

    .copyright {
        margin-left: 70px;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding: 50px 0 100px;
    }

    .slider-1 {
        left: 15%;
        top: 0;
        width: 85%;
    }

    .slider-2 {
        left: 0;
        top: -14%;
        width: 25%;
    }

    .header-left {
        float: right;
    }

    .header-right {
        float: left;
        left: 0;
        margin-bottom: 75px;
        margin-left: 0;
    }

    .hover-effect ul {
        margin: 0 auto;
        width: 80%;
    }

    .hover-effect li {
        margin: 0 10px;
    }

    .logo {
        margin: 50px 0 80px;
    }

    .logo a {
        font-size: 55px;
        padding: 5px 0 30px;
    }

    .logo img {
        background-color: #09B3DB;
        left: 47%;
        top: 65px;
    }

    .header-info p {
        font-size: 15px;
        padding: 0 150px;
    }

    .social {
        margin-top: 30px;
    }

    .about h2, .people h3, .tabs h3, .gallery h3, .contact-us h3, .map h3 {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        margin: 0 80px 0 auto;
    }

    .about-grid2 {
        margin: 50px 80px;
    }

    .people .container {
        width: 100%;
    }

    .client-slider-1, .client-slider-2 {
        float: left;
        padding: 5px;
        width: 50%;
    }

    .client-slider-2 .slider {
        padding: 14px 10px;
    }

    .client-slider-2 p {
        margin: 20px 0;
    }

    .client span {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
    }

    .tabs .container {
        width: 100%;
    }

    .service-info h4 {
        margin: 10px 0 30px;
    }

    .contact-us .container {
        width: 100%;
    }

    .footer .container {
        width: 100%;
    }

    #toTop {
        z-index: 99999;
    }
}

@media screen and (max-width: 966px) {
    .slider-2 {
        top: -15%;
    }

    .about h3 {
        margin: 20px 0;
    }

    .client-slider-2 h4 {
        font-size: 27px;
    }

    .client-slider-2 p {
        font-size: 12px;
        margin: 18px 0;
    }
}

@media screen and (max-width: 900px) {
    .header-info p {
        padding: 0 140px;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        margin: 0 30px 0 auto;
        width: 95%;
    }

    .about-grid2 {
        margin: 50px 30px;
    }

    li.tab-list-1, li.tab-list-5 {
        padding-left: 20px;
    }

    li.tab-list-2, li.tab-list-4 {
        padding-left: 120px;
    }

    li.tab-list-3 {
        padding-left: 220px;
    }

    .gal-left {
        float: left;
        width: 25%;
    }

    .service-info p {
        padding: 0 15px;
    }

    .contact_form textarea {
        height: 155px;
    }

    .copyright {
        margin-left: 25px;
    }
}

@media screen and (max-width: 853px) {
    .header-info p {
        padding: 0 120px;
    }

    .about h3 {
        font-size: 25px;
        margin: 15px 0;
    }

    .about p {
        padding: 0 15px;
    }

    figure.effect-dexter figcaption {
        padding: 3.7em 1em;
    }

    figure h4 {
        font-size: 28px;
    }

    .social-two {
        bottom: 47px;
        left: 23%;
    }

    li.tab-list-2, li.tab-list-4 {
        padding-left: 100px;
    }

    li.tab-list-3 {
        padding-left: 200px;
    }

    .service-info p {
        padding: 0;
    }

    .footer .address, .footer .contact {
        text-align: center;
    }

    .footer h5 {
        text-align: center;
    }

    .connect {
        text-align: center;
    }

    .footer-nav {
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
    }

    .copyright {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .logo img {
        left: 46%;
    }

    .header-info p {
        padding: 0 90px;
    }

    .about h3 {
        margin: 10px 0;
    }

    .about p {
        line-height: 22px;
    }

    figure.effect-dexter figcaption::after {
        bottom: 15px;
        height: calc(50% - 25px);
        left: 15px;
        right: 15px;
    }

    .client span {
        font-size: 14px;
    }

    .tab-list img {
        width: 45px;
    }

    .service-info {
        height: 375px;
    }

    .service-info img {
        width: 80px;
    }

    .service-info h4 {
        font-size: 30px;
        margin: 10px 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .hover-effect ul {
        width: 85%;
    }

    .header-info p {
        padding: 0 75px;
    }

    .about p {
        font-size: 12px;
    }

    .social-two {
        bottom: 28px;
        left: 20%;
    }

    li.tab-list-1, li.tab-list-5 {
        padding-left: 10px;
    }

    li.tab-list-2, li.tab-list-4 {
        padding-left: 90px;
    }

    li.tab-list-3 {
        padding-left: 180px;
    }
}

@media screen and (max-width: 736px) {
    .header {
        padding: 20px 0 100px;
    }

    .navbar-default .navbar-toggle {
        border-color: #FFF;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #000;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        box-shadow: none;
        margin-bottom: 50px;
    }

    .hover-effect ul {
        background-color: #000;
        width: 100%;
    }

    .hover-effect li {
        display: block;
        margin: 10px auto;
        width: 20%;
    }

    .logo {
        margin: 0 0 80px;
    }

    .header-info p {
        padding: 0 50px;
    }

    .about h2, .people h3, .tabs h3, .gallery h3, .contact-us h3, .map h3 {
        font-size: 40px;
    }

    .about-grid {
        float: left;
        width: 50%;
    }

    .about p {
        padding: 0 10px;
    }

    .people h3 span {
        margin-left: 0;
    }

    .service-icons {
        float: left;
        width: 30%;
    }

    li.tab-list-2, li.tab-list-4 {
        padding-left: 75px;
    }

    li.tab-list-3 {
        padding-left: 155px;
    }

    .gallery {
        padding-bottom: 50px;
    }

    .service-info {
        float: left;
        height: 375px;
        width: 70%;
    }

    .gallery .col-12 {
        width: 33%;
    }

    .contact-us-grid {
        float: left;
        width: 50%;
    }

    .contact_form textarea {
        height: 180px;
    }
}

@media screen and (max-width: 667px) {
    .header {
        padding: 20px 0 50px;
    }

    .header-info p {
        padding: 0 25px;
    }

    .about {
        padding-bottom: 75px;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        background-color: transparent;
    }

    .about-info {
        background-color: #EEE;
    }

    .people {
        padding-bottom: 50px;
    }

    .client-slider-1, .client-slider-2 {
        float: left;
        margin-left: 12%;
        padding: 0;
        width: 75%;
    }

    .client-slider-1 {
        margin-bottom: 50px;
    }

    figure.effect-dexter figcaption {
        padding: 5em 1em;
    }

    .social-two {
        bottom: 45px;
        left: 28%;
    }

    .client-slider-2 p {
        font-size: 13px;
    }

    li.tab-list-2, li.tab-list-4 {
        padding-left: 65px;
    }

    li.tab-list-3 {
        padding-left: 135px;
    }

    .service-info img {
        width: 75px;
    }

    .service-info h4 {
        margin: 0 0 20px;
    }

    .service-info p {
        line-height: 29px;
    }

    .tabs {
        padding-bottom: 75px;
    }

    .contact-us {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 640px) {
    .navbar-toggle {
        float: none;
        margin-right: 0;
    }

    .logo {
        margin: 30px 0 80px;
    }

    .logo img {
        left: 45%;
    }

    .header-info p {
        padding: 0;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        margin: 0 auto;
        width: 95%;
    }

    .about-grid {
        width: 100%;
    }

    .about h3 {
        font-size: 30px;
        margin: 20px 0;
    }

    .about p {
        font-size: 13px;
        line-height: 27px;
        margin-bottom: 20px;
        padding: 0 15px;
    }

    .about-grid2 {
        margin: 30px auto;
    }

    .client-slider-1, .client-slider-2 {
        margin-left: 0;
        width: 100%;
    }

    figure.effect-dexter figcaption {
        padding: 6em 1em;
    }

    .social-two {
        bottom: 65px;
        left: 32%;
    }

    li.tab-list-3 {
        padding-left: 130px;
    }

    .contact-us-grid {
        width: 100%;
    }

    .contact-grid2 {
        padding: 0;
    }

    .contact-us .address, .contact-us .contact {
        float: left;
        width: 100%;
    }

    .contact-grid {
        margin: 0 0 30px 0;
        width: 100%;
    }

    .contact_form input[type='text'] {
        background-color: rgba(0, 0, 0, 0.51);
        color: #FFF;
        font-size: 13px;
        height: 40px;
        line-height: 10px;
        margin: 0 0 10px;
        padding: 5px 17px;
        width: 100%;
    }

    .contact_form textarea {
        background-color: rgba(0, 0, 0, 0.51);
        font-size: 13px;
        height: 150px;
        padding: 7px 17px;
    }

    input.more_btn {
        background-color: rgba(0, 0, 0, 0.51);
        font-size: 13px;
    }

    .map iframe {
        height: 250px;
    }
}

@media screen and (max-width: 603px) {
    .service-info p {
        line-height: 26px;
    }

    li.tab-list-3 {
        padding-left: 115px;
    }
}

@media screen and (max-width: 568px) {
    .logo a {
        font-size: 45px;
        padding: 5px 0 20px;
    }

    .logo img {
        left: 46%;
        top: 50px;
        width: 50px;
    }

    .header-info p {
        font-size: 14px;
    }

    figure.effect-dexter figcaption {
        padding: 5em 1em;
    }

    .social-two {
        bottom: 55px;
        left: 30%;
    }

    .service-icons {
        width: 20%;
    }

    li.tab-list-2, li.tab-list-4 {
        padding-left: 25px;
    }

    li.tab-list-3 {
        padding-left: 45px;
    }

    .service-info {
        width: 80%;
    }

    .map iframe {
        height: 200px;
    }

    .footer h5 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .address ul li {
        line-height: 20px;
    }

    .mail {
        margin-top: 15px;
    }

    .connect {
        margin-top: 20px;
    }

    .footer-bottom {
        padding-top: 30px;
    }

    .footer-nav {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 533px) {
    .social-two {
        bottom: 30px;
        left: 20%;
    }

    .service-info h4 {
        margin: 0 0 10px;
    }

    .service-info p {
        line-height: 27px;
    }

    .footer .address {
        width: 40%;
    }

    .footer .contact {
        width: 60%;
    }

    .footer-nav ul li {
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .logo img {
        left: 45%;
    }

    .about {
        padding-bottom: 50px;
    }

    .tabs {
        padding-bottom: 50px;
    }

    li.tab-list-3 {
        padding-left: 40px;
    }

    .social-two {
        bottom: 40px;
        left: 26%;
    }

    .service-info h4 {
        font-size: 27px;
    }

    .service-info p {
        line-height: 25px;
    }

    .gal-left {
        margin: 1%;
        width: 48%;
    }

    .footer {
        padding: 30px 0;
    }
}

@media screen and (max-width: 414px) {
    .logo img {
        left: 44%;
    }

    .hover-effect li {
        width: 30%;
    }

    .slider-2 {
        top: -25%;
        width: 30%;
    }

    .about-grid1, .about-grid2, .about-grid3 {
        width: 95%;
    }

    .client-slider-1, .client-slider-2 {
        margin-left: 0;
        width: 100%;
    }

    .service-icons {
        width: 100%;
    }

    figure.effect-dexter figcaption {
        padding: 4em 1em;
    }

    .social-two {
        bottom: 30px;
        left: 21%;
    }

    li.tab-list {
        display: inline-block;
        padding: 12px;
    }

    .service-info {
        height: 100%;
        width: 100%;
    }

    .service-info img {
        width: 90px;
    }

    .service-info h4 {
        font-size: 28px;
        margin: 5px 0 20px;
    }

    .service-info p {
        line-height: 27px;
        margin-bottom: 20px;
        padding: 0 5px;
    }

    .contact-us {
        padding-bottom: 30px;
    }

    .contact-grid, .contact-us-grid {
        margin: 0 0 30px 0;
        width: 100%;
    }

    .contact-us .address {
        width: 60%;
    }

    .mail input[type="submit"] {
        margin-top: 10px;
    }

    .footer .address, .footer .contact {
        width: 100%;
    }

    .footer .address {
        margin-bottom: 30px;
    }

    .footer-nav ul li {
        padding: 0 15px;
    }
}

@media screen and (max-width: 384px) {
    .navbar-toggle {
        margin-right: 0;
        margin-top: 0;
    }

    .logo {
        margin: 30px 0 65px;
    }

    .logo a {
        font-size: 40px;
    }

    .logo img {
        top: 45px;
        width: 45px;
    }

    .header-info p {
        font-size: 13px;
        line-height: 27px;
    }

    .social {
        margin-top: 15px;
    }

    .about h2, .people h3, .tabs h3, .gallery h3, .contact-us h3, .map h3 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .about h3 {
        margin: 15px 0;
    }

    .about p {
        line-height: 25px;
        margin-bottom: 15px;
    }

    figure.effect-dexter figcaption {
        padding: 3.7em 1em;
    }

    figure h4 {
        font-size: 25px;
    }

    .social-two {
        bottom: 25px;
        left: 18%;
    }

    .tab-list img {
        width: 40px;
    }

    .service-info img {
        width: 80px;
    }

    .service-info h4 {
        font-size: 25px;
    }

    .service-info p {
        line-height: 25px;
    }

    .gal-left {
        margin: 0;
        width: 100%;
    }

    .contact-grid {
        padding: 15px;
    }

    .footer-nav ul li {
        padding: 0 10px;
    }

    .footer .address {
        margin-bottom: 25px;
    }

    .connect {
        padding: 20px 0;
    }

    .copyright p {
        line-height: 25px;
    }
}

@media screen and (max-width: 375px) {
    .tab-list img {
        width: 38px;
    }

    .connect-social ul li {
        line-height: 30px;
    }
}

@media screen and (max-width: 360px) {
    li.tab-list {
        padding: 10px;
    }

    .service-info h4 {
        font-size: 25px;
    }

    .footer-nav ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .hover-effect li {
        width: 45%;
    }

    .logo {
        margin: 25px 0 80px;
    }

    .logo a {
        font-size: 35px;
        padding: 5px 0 15px;
    }

    .logo img {
        left: 43%;
        top: 35px;
    }

    .header-info p {
        font-size: 13px;
        line-height: 27px;
    }

    .about h2, .people h3, .tabs h3, .gallery h3, .contact-us h3, .map h3 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .about h3 {
        font-size: 28px;
        margin: 10px 0;
    }

    .about p {
        line-height: 25px;
        padding: 0 10px;
    }

    figure.effect-dexter figcaption::after {
        border: 5px solid #FFF;
        left: 10px;
        right: 10px;
    }

    figure h4 {
        font-size: 22px;
    }

    figure.effect-dexter figcaption {
        padding: 3.3em 1em;
    }

    .social-two {
        bottom: 16px;
        left: 11%;
    }

    .tabs {
        padding-bottom: 50px;
    }

    .tab-list img {
        width: 31px;
    }

    .service-info img {
        width: 70px;
    }

    .service-info h4 {
        font-size: 22px;
    }

    .service-info p {
        line-height: 25px;
        padding: 0;
    }

    .footer-nav ul li {
        padding: 0 7px;
    }
}

/*-- Responsive-Code --*/